test*.dat
outs/*
plots/worlds/*
plots/worldsv2/*
venv
*__pycache__*
plots/good_exclaim
plots/old_bunched_up
plots/random_80percent
plots/sus
plots/old/
plots/old/**
plots/woo
plots/bad
plots/good_maze
plots/7pm_230210_good
plots/hwfc_answer_maze_2302101925
all_outputs
all_exps
plots/cool*
oldouts
plots/wfc*
results/paper/plots/allbefireagain

final_all_exps